section
	.container-fluid
		.row
			.col-md-12.text-center
				img(src="images/logo.jpg")
				h1 FUTURE IMPERFECT
				h6 ANOTHER FINE RESPONSIVE SITE TEMPLATE BY HTML5 UP
				.marco
					.row
						.col-md-8
							h2 MAGNA SED ADIPISCING
							h6 LOREM IPSUM DOLOR AMET NULLAM CONSEQUAT ETIAM FEUGIAT
						.col-md-4
							h6 NOVEMBER 1, 2015
							.media
								.media-body
									h6 JANE DOE
								.media-right
									img.img-circle(src="images/avatar.jpg")
					.row
						img(src="images/pic01.jpg")
						p Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
					.row
						.col-md-6
							button(type="button" class="btn btn-secondary-outline btn-lg") CONTINUE READING
						.col-md-6
							span GENERAL
							i.fa.fa-heart
							span 28 
							i.fa.fa-comment
							span 128
		.row
			.col-md-12
				nav
					ul.pager
						li
							a(href="#")
								i.fa.fa-angle-left &nbsp; PREVIOUS PAGE
								
						li
							a(href="#") NEXT PAGE &nbsp;
								i.fa.fa-angle-right